gunicorn==20.1.0
Flask==2.2.2  # ou outra versão estável 2.x
Flask-Cors==5.0.0
gspread==6.1.4
google-auth==2.18.0
google-auth-oauthlib==0.8.0
google-auth-httplib2==0.1.0
beautifulsoup4==4.11.1
google-cloud-storage==2.5.0  # ou outra versão necessária
